<!DOCTYPE html>
<html>
<header>
    <title>CS355 : Lab11</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</header>
<style>
    #header {
        background-color:orange;
        color:black;
        text-align:left;
        height:175px;
        font-size:48px;
    }
    #menu {
        background-color:gray;
        height:400px;

        float:left;
        padding:5px;
    }
    #content {
        height:400px;
        float:left;
        padding:10px;
    }

    #footer {
        background-color:orange;
        color:black;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>



<body>
<div style="float:right;">
    <% if(typeof firstname !== "undefined") { %>
    Welcome, <%= firstname %><br/>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a><br/>
    <a href="/users/new">Create Account</a>
    <% } %>
    <br/><a href="/">Home</a>
</div>

<div id="header">
    CS 355
</div>