<% include partials/header.ejs%>

    <div id="menu">
     <a href="http://www.sonoma.edu/">Sonoma State University</a>
     <br />
     <a href="http://www.cs.sonoma.edu">CS Dept. </a>
     <br />
     <a href="http://www.cs.sonoma.edu/~haderman/">CS 355</a>
        <br /><br />
        <!--
      <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
      <br />
      <a href="helloworld.html">Relative Link Example</a>
      <br />
      <a href="/templatelink">Template Link Example</a>
      <br />
      -->
      <a href="/movie/all">Get All Movies</a><br />
        <a href="/movie/new">Add New Movie</a><br />
        </br>
      <a href="/users/all">Get All Users</a><br >
        <a href="/users/new">Create New User</a><br />
        </br>
        <a href="/genre/new">Add New Genre</a><br />
        <a href="/state/new">Add New State</a><br />


   </div>


    <div id="content">
      <table>
        <tr>
          <th>Number</th>
          <th>Class Name</th>
          <th>Professor</th>
        </tr>
        <tr>
          <td>CS 355</td>
          <td>Database Mgt System Design</td>
          <td>Michael Haderman</td>
        </tr>
        <tr>
          <td>CS 385</td>
          <td>Super Computing Practicum</td>
          <td>Barry Rountree</td>
        </tr>
        <tr>
          <td>CS 390</td>
          <td>Computer Science Colloquium</td>
          <td>George Ledin</td>
        </tr>
        <tr>
          <td>CS 415</td>
          <td>Algorithm Analysis</td>
          <td>Balasubramanian Ravikumar</td>
        </tr>
        <tr>
          <td>ENGL 315</td>
          <td>California Ethnic Literature</td>
          <td>Anthony Rizzuto</td>
        </tr>
      </table>
      <br>
      Top 3 things I've learned:
      <ol>
        <li>Data Structures</li>
        <li>Algorithm Time Complexity</li>
        <li>C++ Programming</li>
      </ol>
      Top 3 things I'd like to learn:
      <ul>
        <li>Computer Security</li>
        <li>Computer Intrusion Detection</li>
        <li>Python</li>
      </ul>
      <button type="button" onclick="myFunction()">Click Me!</button>

      <p id="demo">This is a demonstration.</p>

      <script>
        function myFunction() {
          document.getElementById("demo").innerHTML = "Hello JavaScript!";
        }
      </script>
    </div>

  <% include partials/footer.ejs%>