<% include ../partials/header.ejs %>
<form action="/movie/save/">
    <label for="title">Movie Title</label> <input type="text" id="title" name="title" /><br />
    <label for="tagline">Movie Tagline</label> <input type="text" id="tagline" name="tagline" /><br />

    <input type="submit" />
</form>
<% include ../partials/footer.ejs%>