<% include ../partials/header.ejs %>

<% if (typeof message !== 'undefined') { %>
    <div><%= message %></div>
<% } %>

<% if(rs.length > 0) { %>
<h1>Edit User</h1>
<form method="POST" action="/users/update_users">
    <input type="hidden" name="userID" value="<%= rs[0].userID %>" />
    First Name <input type="text" id="title" name="firstname" value="<%= rs[0].firstname%>" /><br />
    Last Name <input type="text" id="title" name="lastname" value="<%= rs[0].lastname%>" /><br />
    State <select name="state_id" id="state_id">
        <% for( var i = 0; i < state.length; i++) { %>
        <option value="<%= state[i].state_id%>"><%= state[i].state %> </option>
        <% } %> </select><br />
    Email <input type="text" id="title" name="email" value="<%= rs[0].email%>" /><br />
    Password <input type="password" id="title" name="password" value="<%= rs[0].password%>" /><br />
    <br />





    <button id="addBtn2">Edit</button>
</form>
<% } else { %>
No user matches that ID.
<% } %>

<% include ../partials/footer.ejs %>